{% extends "_base.html" %}
{% block content %}
  <h1>Welcome to FlaskTaskr.</h1>
  <h3>Please sign in to access your task list.</h3>

  <form class="form-signin" action="/" method="post">
  	{{ form.csrf_token }}
  	<p>
  		{{ form.name.label }}: {{ form.name }}
  		&nbsp;&nbsp;
      <span class="error">
        {% if error in form.name.errors %}
          {% for error in form.name.errors %}
            {{ error }}
          {% endfor %}
        {% endif %}
      </span>

  		{{ form.password.label }}: {{ form.password }}
  		&nbsp;&nbsp;
      <span class="error">
        {% if error in form.password.errors %}
          {% for error in form.password.errors %}
            {{ error }}
          {% endfor %}
        {% endif %}
      </span>
    	<button class="btn btn-sm btn-success" type="submit">Sign in</button>
    </p>
  </form>

  <br>

  <p><em>Need an account? </em><a href="/register">Signup!</a></p>


{% endblock %}